.listCtquyengop{
    border-radius: 5px;
   
    background-color: #fff;
    width: 280px;
    height: 400px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 0.1px;
    border-color:greenyellow;
 
}

.img{
    width: 278px;
    height: 250px;
   
}
.b{
    margin-left: 10px;
}