body {
    background-color:pink;
    align-items: center;
   
}

.container {
    
    margin:0 auto;
    background-color:whitesmoke;
   
}

.row {
    margin-bottom: 50px;
    margin-left: 43px;
}


  

.h3{
    color: #d11987;
    text-align: center;
}

