.donation_title{
    text-align: center;
}
.image_bank:hover{
    border: 5px solid green;
}

.btn-copy{
    width: 100px;
    margin-left: 400px;
    margin-right: 100px;
}

.btn-back{
    width: 100px;
}

.pay_account{
    height: 60px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    margin: 20px 20px 20px  435px ;

}

.bank_name{
    margin-left: 30px;
}