.donation_title{
    text-align: center;
}
.image_bank:hover{
    border: 5px solid green;
}

.btn-back{
    width: 100px;
}

.bank_name{
    margin-left: 30px;
}

.key_pay{

    font-weight: bold;
    text-align: center;
}